name: Terraform CD Deployment

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${{ secrets.AWS_REGION }}" \
            -var="key_name=${{ secrets.EC2_KEY_NAME }}" \
            -var="docker_image=${{ secrets.DOCKERHUB_USERNAME }}/strapi:latest" \
            -var="admin_jwt_secret=${{ secrets.ADMIN_JWT_SECRET }}" \
            -var="api_token_salt=${{ secrets.API_TOKEN_SALT }}" \
            -var="app_keys=${{ secrets.APP_KEYS }}" \
            -var="jwt_secret=${{ secrets.JWT_SECRET }}"
        working-directory: terraform
